/* HEADER SECTION*/
.breadcrumbs-area{
    background-color: #252830;
    padding: 100px 0 100px;
    //margin-bottom: 40px;
}
section.breadcrumbs-area::before{background:#333333 none repeat scroll 0 0}
section.breadcrumbs-area::before{opacity:0.5}
.breadcrumbs{
    font-size: 100%;
    .page-title {
        font-size: 40px;
        color: #fff;
        margin: 0;
        padding: 5px 0;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 2px 3px 3px rgba(0,0,0,0.3);
    }
}

@include media-breakpoint-up(md) {
    #wrapper-navbar {
        &.header-1,
        &.header-2,
        &.header-3,
        &.header-4{
            .navbar-expand-md .navbar-collapse {
                display: block !important;
            }
        }
        &.header-3,
        &.header-4 {
            #main-menu {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                align-items: center;
                align-content: flex-start;
            }
        }
        &.header-4 {
            .container {
                display: block;
                text-align: center;
                #main-menu {
                    justify-content: center;
                }
            }
        }
    }
}