@import "unyson/buttons"; 

.fw-page-builder-content {
    
    // Accordion
    .fw-accordion {
        border-color: #e0e0e0;
        .fw-accordion-title {
            background: #fafafa;
            border-color: #e0e0e0;
        }
    }
    // tabs
    .fw-tabs-container{
        .fw-tabs {
            ul li {
                border-color: #e0e0e0;
                &:first-child {
                        border-left: 1px solid #e0e0e0;
                }
            }
        }
        .fw-tab-content{
            border-color: #e0e0e0;
        }
    }
    // pricing
    .fw-pricing {
        .fw-package-wrap {
            .fw-package {
                .fw-pricing-row span{
                    font-weight: bold;
                }

            }
            &.default-col {
                .fw-package {
                    .fw-heading-row,
                    .fw-pricing-row {
                        background: #b0bec5;
                    }
                }
            }
            &.highlight-col {
                .fw-package {
                    .fw-heading-row,
                    .fw-pricing-row {
                        background: #81c784;
                    }
                }
            }
        }
    }
    // Iconbox image
    .fw-iconbox-1,
    .fw-iconbox-2 {
        .fw-iconbox-image {
            color: inherit;
        }
    }
    
    .fw-package {
        border-radius: 5px;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.11);
        background: #fff;
        .fw-heading-row {
            border-radius: 5px 5px 0 0;
        }
    }
}
.parallax-window {
    min-height: 400px;
    background: transparent !important;
}

/* Progress bar  */
.fw-progressbar-items {
    margin-bottom: 20px;
    
    .fw-list-title {
        
    }
    .progress-label {
        margin-top: 5px;
        display: inline-block;
    }
    .progress {
        margin-bottom: 5px;
    }
}

/* list items*/

.fw-list-items{
  .fw-list-item{
		margin-bottom: 5px;
	}
	.item-title{
		font-weight: bold;
		text-transform: uppercase;
		display: block;
		margin-top: 5px;
		position: relative;
		&:after {
		    position: absolute;
		    //content: " ";
		    height: 1px;
		    background: #f1f1f1;
		    width: 59%;
		    top: 50%;
		    left: 22%;
		}
	}
	.fw-item-text{
	  em{
		  font-style: normal;
	    font-weight: normal;
	    font-size: 12px;
	    letter-spacing: 1px;
	    color: #919394;
	  }
	} 
	.fw-item-label{
	    font-weight: bold;
	    font-size: 15px;
	    letter-spacing: 0px;
	    color: #383838;
	}
}

/* Block image  */

.fw-imagebox{
  &.white{
    color: white;
  }
}
.fw-imagebox-2 {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .fw-imagebox-aside {
      margin: 20px;
      padding: 20px;
      display: block;
      color: #fff;
      text-shadow: 1px #000;
    }
    .fw-imagebox-aside {
      z-index: 2;
      position: relative;
    }
}
.fw-imagebox-title-wrap {
    margin-bottom: 15px;
    a:hover{
    text-decoration: none;
  }
}

.fw-block-image-parent {
    &.fw-block-image-right {
      width: 250px;
      float: right;
      margin-left: 30px;
      margin-bottom: 0;
    }
    &.fw-block-image-parent.fw-block-image-center {
      margin: 0 auto;
    }
}
/* Content Row Overlay */
.fw-main-row-overlay {
  position: absolute !important;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}