.footer-widget{
    ul{
        @extend .list-unstyled; 
    }
}

.widget_categories {
    ul {
        list-style: none; 
    }
}

.cat-links {
    a {
        display: inline-block;
    }
}
.tags-links {
    display: block;
}

.grid {

  /* clear fix */
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 32.333%;
}

.grid-item {
  float: left;
  margin: 0;
  margin-bottom: 10px;
}

.grid-item img {
  display: block;
  max-width: 100%;
}
